---
export async function getStaticPaths() {
  function getDir(str: string) {
    return str.replace(/^\.\/(.*)\/.*\.md$/, "$1");
  }
  const categories = Object.keys(import.meta.glob("./**/*.md")).map(getDir);

  return categories.map((category) => {
    const notes = await Astro.glob(`./${category}/*.md`);
    return {
      params: {
        slug: category,
      },
      props: {
        notes,
      },
    };
  });
}
const { notes } = Astro.props;
---

<h1>test</h1>
<ul>
  {
    notes.map((note: any) => (
      <li>
        <a href={note.url}>{note.frontmatter.title}</a>
      </li>
    ))
  }
</ul>
