---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Digital Garden">
  <main>
    <h1 class="text-red-400">Digital Garden</h1>
    <a href="/about">This is a link</a>
  </main>
</Layout>
